<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">This is my personal Blog</h1>
      <p class="lead text-body-secondary">
        You can create a new post, edit or delete an existing post. Look and feel has been created using Bootstrap. I hope you enjoy the functionality.
      </p>
      <p>
        <div>
            <form action="/newPost" method="POST">
              <button class="btn btn-primary my-2" type ="submit" name="newPost" value="newPost">Create Post</button>
            </form>
        </div>
      </p>
    </div>
  </div>
</section>
